@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
span {
  color: red;
  font-size: 36px;
}

.about-me {
  display: flex;
  width: 100%;
  margin-left: auto;
  text-align: justify;

}
.presentation {
  margin: 55px 30px 38px 150px;
  font-family: 'Montserrat';
  width: 50%;
}

.ghirigor {

    height: 50px;
    width: 150px;
    margin-left:60px;
}


.scene {
  position: relative;
  width: 40%;
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.scene i {
  width: auto;
  position: relative;
  top: -200px;
  background: white;
  animation: animateStars linear infinite;
}


@keyframes animateStars
{
    0%
    {
        transform: translateY(0vh);
    }
    100% {
        transform: translateY(100vh);
    }
}


 .scene .rocket {
   position: relative;
animation: animate 0.2s ease infinite;;


}

@keyframes animate
{
  0%, 100%
{
  transform: translateY(-2px);
}
50%
{
transform: translate(2px);
}
}


.scene .rocket::before
 {
  content:'';
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 200px;
  background: linear-gradient(#e60000,transparent);


}


.scene .rocket::after
 {
  content:'';
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 200px;
  background: linear-gradient(#e60000,transparent);

  filter:blur(20px);

}
